@import url("variables.css");
* {
	font-family: var(--font-family);
}
.filtersContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
.filters {
	display: flex;
	width: 850px;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}
.filter {
	position: relative;
}
.filter > button {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--bckgWhite);
	color: black;
	font-size: var(--font-size-small);
	font-weight: 600;
	align-self: center;
	border: 1px solid var(--orange);
	border-radius: var(--border-radius-small);
	height: 40px;
}
button > img {
	width: 16px;
	height: 16px;
}
.fuelBtn {
	width: 80px;
}
.priceBtn,
.carTypeBtn,
.brandBtn,
.seatsBtn {
	width: 100px;
}
.carTypeBtn {
	width: 120px;
}

.dropdownContainers {
	width: 850px;
	margin: 0 auto;
	position: relative;
}

.dropdownContainers > div {
	position: absolute;
	background: var(--bckg-grey);
	border: 1px solid var(--orange);
	border-radius: var(--border-radius-small);
	padding: 10px;
	margin-top: 5px;
	z-index: 10;
}

.hidden {
	display: none;
}

.priceDropdown {
	width: 200px;
}

.priceRange {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--padding-small);
}
input[type="range"] {
	appearance: none;
	width: 100%;
	height: 8px;
	background: var(--orange);
	border-radius: 5px;
	outline: none;
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--bckg-grey);
	border: 1px solid var(--orange);
	border-radius: 50%;
	cursor: pointer;
}
.priceDropdown {
	left: 0;
}
.carTypeDropdown {
	left: 118px;
}
.carTypeDropdown {
	width: 200px;
	height: 130px;
}
.carType,.brand,.seats,.fuel {
    display: flex;
    align-items: center;
    gap: 16px;
	padding-bottom: var(--padding-small);
}
label {
	font-size: var(--font-size-small);
	font-weight: 500;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--orange); /* Border color */
	border-radius: 50%; /* Makes the checkbox round */
	outline: none;
	cursor: pointer;
	background: transparent; /* Remove background */
}

.brandDropdown {
	left: 252px;
}
.seatsDropdown {
	left: 372px;
}
.fuelDropdown {
	left: 482px;
}