@import url("variables.css");
.navBar {
	display: flex;
	height: 60px;
	position: fixed;
	justify-content: space-between;
    align-items:center;
	width: 100%;
	background-color: var(--bckg-grey);
	margin-top: 0px;
	z-index: 100;
}
.rightNav {
	display: flex;
    flex-basis: 20%;
	justify-content: space-evenly;
	justify-items: center;
}
.register {
    border-radius: 24px;
	box-sizing: border-box;
	background-color: var(--bckgWhite);
	width: 140px;
	height: 40px;
    align-self: center;
    font-size: var(--font-size-small); 
    cursor: pointer;
}
.login {
    border-radius: 24px;
	box-sizing: border-box;
	color: var(--bckgWhite);
	width: 140px;
	height: 40px;
    align-self: center;
    font-size: var(--font-size-small);
    cursor: pointer;
}
.buttonProfile {
	box-sizing: content-box;
	content: url("/assets/user-circle.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
}
.buttonCompactMenu {
    content: url("/assets/menu-01\ \(2\).svg");
    box-sizing: content-box;
	background-color: var(--bckg-grey);
    height: 40px;
    align-self: center;
    cursor: pointer;
}

.buttonCompactMenu.active{
    content: url("/assets/menu-01\ \(2\).svg");
    box-sizing: content-box;
	background-color: var(--bckgWhite);
    height: 30px;
    align-self: center;
}
.mainImage {
	content: url("/assets/image\ 9.svg");
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: var(--padding-label);
    cursor: pointer;
}

ul{
    list-style: none;
}

.offScreenMenu {
    margin-top: 40px;
    padding-top: 20px;
    position: fixed;
    background-color: var(--bckgWhite);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 100%;
    top: 0%;
    right: -450px;
    transition: .3s ease;
    gap: 20px;
}

.offScreenMenu.active {
    border: 1px solid var(--orange);
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    
}

li:hover{
    cursor: pointer;
    scale: 1.0005;
    font-weight: bold;
}

li{
    font-size: var(--font-size-small);
    padding: 10px;
    border-radius: 24px;
}