@import url("variables.css");

* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

/* ================================= */
/** MAIN LAYOUT - From rentPage.css */
/* ================================= */
main{
    padding-top: 80px;
}

/* ================================= */
/* *SEARCH BAR COMPONENT - From searchBar.css */
/* ================================= */
.searchContainer{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--margin-medium) 0;
}
.searchBarContainer{
    width: 850px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--shadow-orange);
    border-radius: var(--border-radius-medium);

}
.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: var(--search-box);
    border-radius: var(--border-radius-small);
    
}
.searchBox > input{
    width: 100%;
    border: none;
    border-radius: var(--border-radius-small);
    font-family: var(--font-family);
    padding-left: var(--padding-small);
    background-color: transparent;
}
.searchIconContainer{
    display: flex;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

/* ================================= */
/* *FILTER COMPONENT - From filterRent.css */
/* ================================= */
* {
	font-family: var(--font-family);
}
.filtersContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
.filters {
	display: flex;
	width: 850px;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}
.filter {
	position: relative;
}
.filter > button {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--bckgWhite);
	color: black;
	font-size: var(--font-size-small);
	font-weight: 600;
	align-self: center;
	border: 1px solid var(--orange);
	border-radius: var(--border-radius-small);
	height: 40px;
}
button > img {
	width: 16px;
	height: 16px;
}
.fuelBtn {
	width: 80px;
}
.priceBtn,
.carTypeBtn,
.brandBtn,
.seatsBtn {
	width: 100px;
}
.carTypeBtn {
	width: 120px;
}

.dropdownContainers {
	width: 850px;
	margin: 0 auto;
	position: relative;
}

.dropdownContainers > div {
	position: absolute;
	background: var(--bckg-grey);
	border: 1px solid var(--orange);
	border-radius: var(--border-radius-small);
	padding: 10px;
	margin-top: 5px;
	z-index: 10;
}

.hidden {
	display: none;
}

.priceDropdown {
	width: 200px;
}

.priceRange {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--padding-small);
}
input[type="range"] {
	appearance: none;
	width: 100%;
	height: 8px;
	background: var(--orange);
	border-radius: 5px;
	outline: none;
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--bckg-grey);
	border: 1px solid var(--orange);
	border-radius: 50%;
	cursor: pointer;
}
.priceDropdown {
	left: 0;
}
.carTypeDropdown {
	left: 118px;
}
.carTypeDropdown {
	width: 200px;
	height: 130px;
}
.carType,.brand,.seats,.fuel {
    display: flex;
    align-items: center;
    gap: 16px;
	padding-bottom: var(--padding-small);
}
label {
	font-size: var(--font-size-small);
	font-weight: 500;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--orange); 
	border-radius: 50%; 
	outline: none;
	cursor: pointer;
	background: transparent;
}

.brandDropdown {
	left: 252px;
}
.seatsDropdown {
	left: 372px;
}
.fuelDropdown {
	left: 482px;
}

/* ================================= */
/* * CAR CARD COMPONENT - From carCard.css */
/* ================================= */
.carCardsContainer{
    height: 80vh;
}
.carCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 450px;
    background-color: var(--bckgWhite);
    border: 1px solid var(--orange);
    border-radius: var(--border-radius-medium);
    margin: 16px;
    padding: 16px;
    box-shadow: var(--shadow-orange);
}
.carName{
    font-size: var(--font-size-large);
    font-weight: 600;
}
.carType{
    font-size: var(--font-size-small);
    font-weight: 400;
}
.carFeatures{
    margin-top: var(--margin-medium);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.featureBox{
    height: 40px;
    background-color: var(--orange);
    color: var(--bckgWhite);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: var(--border-radius-small);
}
.featureBox:nth-child(1){
    width: 40px;
}
.featureBox:nth-child(2){
    width: 100px;
}
.featureBox:nth-child(3){
    width: 80px;
}
.featureBox:nth-child(4){
    width: 60px;
}
.carPrice{
    margin-top: var(--margin-large);
}
.price{
    font-size: var(--font-size-large);
    font-weight: 600;
}