:root{
    --orange: rgba(241, 114, 61, 1);
     /* todo rever cores e nome de background color */
     --bckgWhite: rgba(255, 250, 250, 1);
     /* todo mudar para apenas font */
     --font-family: "Montserrat",sans-serif;
     --border-label: 3px solid var(--orange);
     --bckg-grey: rgba(247, 245, 241, 1);
     --padding-label: 16px;
     --padding-small: 8px;
     --padding-medium: 16px;
     --padding-large: 24px;
     --search-box: 1px solid var(--orange);
     --border-radius-small: 8px;
     --border-radius-medium: 16px;
     --border-radius-large: 24px;
     --shadow-orange: 0px 4px 10px var(--orange);
     --background-color: #F7F5F1;
     --font-size-medium: 24px;
     --margin-small: 8px;
     --margin-medium: 16px;
     --margin-large: 24px;
 }
 body{
     margin: 0px;
     background-color: var(--bckg-grey);
 }
 main{
     box-sizing: border-box;
 }
 .button{
     box-sizing: border-box;
     border-radius: 10px;
     border: 1px solid var(--orange);
     background-color: var(--orange);
 }
 .label{
     border-left: var(--border-label);
     padding-left: var(--padding-label);
     width: 100px;
     font-family: var(--font);
 }